[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "imgui_docking"]
	path = imgui_docking
	url = https://github.com/ocornut/imgui.git
	branch = docking
